.content {
    padding-top: 50px;
}

.heading {
    font-size: 30px;
    margin-bottom: 30px;
}

.cartContainer {
    display: flex;
    gap: 30px;
}

.cartContent {
    width: 66.66666667%;
}

.totalContent {
    width: 33.33333333%;
}

.gridCartItems {
    display: grid;
    grid-template-columns: 4fr 2fr 1.5fr 0.5fr;
}

.cartTitleContainer {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.cartTitle {
    font-size: 16px;
}

.subtotal {
    padding: 10px 25px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment {
    padding: 30px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-bg-color);
    border: 1px solid #eee;
}

.payment button {
    height: 45px;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    border: none;
    transition: all 0.2s;
}

.payment button:hover {
    background-color: rgba(0, 0, 0, 0.75);
}
