:root {
    --dark-text-color: #cccccc;
    --secondary-text-color: #777777;

    --secondary-bg-color: #eeeeee;
    --grey-bg-color: #f1f1f1;

    --light-border-color: #eaeaea;
    --dark-divider-color: #666666;

    --max-width-content: 1196px;
    --header-height: 90px;
    --padding-bottom-content: 56px;
    --padding-top-content: 44px;
    --product-details-section-width: 590px;
    --cart-popup-width: 300px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #000;
}

button {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.al-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blank {
    outline: none;
    border: none;
    background-color: transparent;
}

.invisible-link {
    text-decoration: none;
    color: inherit;
}

.main-content {
    max-width: var(--max-width-content);
    margin: 0 auto;
}

.heading {
    text-transform: uppercase;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

.btn {
    border-width: 1px;
    border-style: solid;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    border-radius: 4px;
}

.btn-outline {
    color: #000;
    border-color: #000;
}

.btn-outline:hover {
    background-color: rgba(0, 0, 0, 0.027);
}

.btn-filled {
    color: #fff;
    background-color: #000;
}

.btn-filled:hover {
    background-color: rgba(0, 0, 0, 0.82);
}
