:root {
    --dark-text-color: #cccccc;
    --secondary-text-color: #777777;

    --secondary-bg-color: #eeeeee;
    --grey-bg-color: #f1f1f1;

    --light-border-color: #eaeaea;
    --dark-divider-color: #666666;

    --max-width-content: 1196px;
    --header-height: 90px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #000;
}

button {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.al-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blank {
    outline: none;
    border: none;
    background-color: transparent;
}
